:root {
    --font-size-body: var(--font-size-300);
    --font-size-small: var(--font-size-200);
    --font-size-large: var(--font-size-400);
    --font-size-heading-1: var(--font-size-200);
    --font-size-heading-2: var(--font-size-500);

    --focus-ring-width: var(--stroke-200);
    --focus-ring: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);

    --border-width-thin: var(--stroke-100);
    --border-width-medium: var(--stroke-200);
    --border-style: solid;
}
