:root {
    --text-small-size: var(--font-size-200);
    --text-body-size: var(--font-size-300);
    --text-large-size: var(--font-size-400);
    --text-big-size: var(--font-size-500);
    --text-giant-size: var(--font-size-900);

    --h1-font-size: var(--font-size-200);
    --h2-font-size: var(--font-size-500);
    --h3-font-size: var(--font-size-400);
    --h4-font-size: var(--font-size-300);
    --h5-font-size: var(--font-size-200);

    --focus-ring-width: var(--stroke-200);
    --focus-ring: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);

    --border-width-thin: var(--stroke-100);
    --border-width-medium: var(--stroke-200);
    --border-style: solid;
}
