.app-title {
    font-size: var(--font-size-200);
    color: var(--text-secondary-color);
    text-transform: uppercase;
    font-weight: 600;
}

.app-section-title {
    font-size: var(--font-size-500);
    margin: 0;
    text-transform: uppercase;
    color: var(--accent-color);
    font-weight: 600;
}
