<app-page-template
    appNameKey="navigation.janus"
    pageNameKey="navigation.applicationSettings"
>
    <section page-body class="settings-content">
        <app-card styleClass="settings-card">
            <form [formGroup]="form" (ngSubmit)="save()">
                <div class="days-until-locked-control">
                    <app-range-slider
                        formControlName="daysUntilLocked"
                        [label]="'applicationSettings.fields.daysUntilLocked' | translate"
                        [min]="0"
                        [max]="daysUntilLockedSliderMax"
                        [step]="1"
                    />
                </div>

                <label>
                    <app-toggle-button
                        formControlName="employeeWorkplaceCreationAllowed"
                    ></app-toggle-button>
                    {{
                        'applicationSettings.fields.employeeWorkplaceCreationAllowed'
                            | translate
                    }}
                </label>

                <label>
                    <app-toggle-button
                        formControlName="worksiteChangeDuringShiftAllowed"
                    ></app-toggle-button>
                    {{
                        'applicationSettings.fields.worksiteChangeDuringShiftAllowed' | translate
                    }}
                </label>

                <div class="timezone-control">
                    <label for="default-timezone">
                        {{ 'applicationSettings.fields.defaultTimezone' | translate }}
                    </label>
                    <app-autocomplete-textbox
                        id="default-timezone"
                        [formControl]="timezoneControl"
                        [searchMethod]="searchMethod"
                        [displayWith]="timezoneDisplayWith"
                        (selectedChange)="onTimezoneSelected($event)"
                    />
                </div>

                <p class="message error" *ngIf="errorMessage">
                    {{ errorMessage | translate }}
                </p>

                <div class="buttons">
                    <app-button type="button" variant="secondary" (clicked)="goBack()">
                        {{ 'actions.cancel' | translate }}
                    </app-button>

                    @if (isAdmin) {
                        <app-button
                            type="submit"
                            [disabled]="form.invalid || saving"
                            variant="main"
                        >
                            {{ 'actions.save' | translate }}
                        </app-button>
                    }
                </div>
            </form>
        </app-card>
    </section>

    <div page-footer></div>
</app-page-template>
