.clock-in-card {
    text-align: center;
}

.clock-in-card__body {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: var(--section-big-gap);
    flex-direction: column;
}

.clock-in-card__footer {
    text-align: right;
}

.clock-in-card__clock-in {
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

.clock-in-card__secondary-action {
    color: var(--link-small-font-size);
    font-size: var(--link-small-font-size);
    cursor: pointer;
    background: transparent;
    border: 0px;
}

.clock-in-card__secondary-action .clock-in-card__icon {
    color: var(--accent-strong-color);
}

.clock-in-card__secondary-action:disabled {
    cursor: default;
    pointer-events: none;
}

.clock-in-card__secondary-action:disabled .clock-in-card__icon {
    color: var(--accent-muted-color);
}

.clock-in-card__secondary-action:hover {
    color: var(--text-primary-color);
}

.clock-in-card__secondary-action:hover .clock-in-card__icon {
    color: var(--accent-hover-color);
}
