.user-preferences__content {
    display: flex;
}

.user-preferences__field {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.user-preferences__message {
    margin: 0;
}

.user-preferences__message--error {
    color: var(--color-error-soft);
}
