<main class="app-shell">
  <section class="dashboard">
    <header class="dashboard-header">
      <h1 class="brand">JANUS</h1>
      <span class="section-label">Test</span>
    </header>

    <div class="clock-card">
      <div class="clock-info">
        <span class="clock-label">{{ 'timelog.clockin' | translate }}</span>
        <app-clock></app-clock>
      </div>
      <button class="clock-button" type="button">{{ 'timelog.clockin' | translate }}</button>
    </div>

    <section class="timelog">
      <h2 class="timelog-title">{{ 'timelog.timelogs' | translate }}</h2>
      <table class="timelog-table">
        <thead>
          <tr>
            <th scope="col">{{ 'timelog.date' | translate }}</th>
            <th scope="col">{{ 'timelog.clockin' | translate }}</th>
            <th scope="col">{{ 'timelog.clockout' | translate }}</th>
            <th scope="col">{{ 'timelog.duration' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>04/23/2024</td>
            <td>08:32 AM</td>
            <td>05:15 PM</td>
            <td>8h 43m</td>
          </tr>
          <tr>
            <td>04/22/2024</td>
            <td>08:29 AM</td>
            <td>05:31 PM</td>
            <td>9h 02m</td>
          </tr>
          <tr>
            <td>04/21/2024</td>
            <td>08:34 AM</td>
            <td>05:11 PM</td>
            <td>8h 37m</td>
          </tr>
          <tr>
            <td>04/20/2024</td>
            <td>08:33 AM</td>
            <td>05:11 PM</td>
            <td>8h 52m</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</main>
