<app-page-template appNameKey="navigation.janus" pageNameKey="navigation.dashboard">
    <div pageContent class="page-content dashboard-content">
        @if (employeeEmail$ | async; as employeeEmail) {
            <app-timelog-clock-card
                id="clock"
                [employeeEmail]="employeeEmail"
                (clockActionDone)="onClockActionDone()"
            />

            <app-employee-card id="employee" [fullName]="fullName$ | async" />

            <app-timelog-table
                id="records"
                [employeeEmail]="employeeEmail"
                [refreshToken]="tableRefreshToken"
            />
        }
    </div>
</app-page-template>
