:host {
    display: block;
}

.summary-card {
    display: flex;
    flex-direction: column;
    padding: var(--section-medium-padding-block) var(--section-medium-padding-inline);
    border-radius: var(--section-medium-border-radius);
    background: var(--subtle-surface-background-color);
    gap: var(--section-medium-gap);
}

.summary-card__icon {
    width: var(--size-900);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: var(--subtle-icon-background-color);
    color: var(--accent-color);
    font-size: var(--type-heading-lg-font-size);
}

.summary-card__metric {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: var(--section-medium-gap);
}

.summary-card__label {
    color: var(--text-secondary-color);

    font-size: var(--type-label-md-font-size);
    font-weight: var(--type-label-md-font-weight);
    line-height: var(--type-label-md-line-height);

    letter-spacing: var(--type-caps-letter-spacing);
    text-transform: var(--type-caps-text-transform);
}

.summary-card__value {
    color: var(--text-primary-color);

    font-size: var(--type-heading-lg-font-size);
    font-weight: var(--type-heading-lg-font-weight);
    line-height: var(--type-heading-lg-line-height);
}
