:host {
    display: block;
}

.summary-card {
    display: flex;
    flex-direction: column;
    padding: var(--summary-card-padding-block) var(--summary-card-padding-inline);
    border-radius: var(--summary-card-border-radius);
    background: var(--summary-card-background-color);
}

.summary-card__icon {
    width: var(--summary-card-icon-size);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    margin-bottom: var(--summary-card-icon-margin-bottom);
    border-radius: var(--summary-card-icon-border-radius);
    background: var(--summary-card-icon-background-color);
    color: var(--summary-card-icon-color);
    font-size: var(--summary-card-icon-font-size);
}

.summary-card__label {
    color: var(--data-label-color);
    font-weight: var(--data-label-font-weight);
    letter-spacing: var(--data-label-letter-spacing);
    text-transform: var(--data-label-text-transform);
    font-size: var(--data-label-font-size);
}

.summary-card__value {
    margin-top: var(--summary-card-value-margin-top);
    color: var(--title-color);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--title-letter-spacing);
    text-transform: var(--title-text-transform);
    font-size: var(--title-font-size);
}
