<div class="tabs" role="tablist" aria-label="Tabs navigation">
    @for (tabItem of tabItems(); track $index; let index = $index) {
        <button
            type="button"
            class="tabs-trigger"
            role="tab"
            [id]="'tab-trigger-' + index"
            [attr.aria-controls]="'tab-panel-' + index"
            [attr.aria-selected]="activeIndex() === index"
            [class.tabs-trigger-active]="activeIndex() === index"
            (click)="selectTab(index)"
        >
            {{ tabItem.label() }}
        </button>
    }
</div>

@for (tabItem of tabItems(); track $index; let index = $index) {
    @if (isLoaded(index) && activeIndex() === index) {
        <section
            class="tabs-panel"
            role="tabpanel"
            [id]="'tab-panel-' + index"
            [attr.aria-labelledby]="'tab-trigger-' + index"
        >
            <ng-container [ngTemplateOutlet]="tabItem.template"></ng-container>
        </section>
    }
}
