.select {
    position: relative;
    width: 100%;
    overflow: hidden;
}

select {
    width: 100%;
    box-sizing: border-box;

    padding: 0.625rem 2rem 0.625rem 0.75rem;
    border: 0;
    outline: 0;

    appearance: none;

    background: transparent;
    color: var(--form-control-text-color);

    font-size: var(--text-body-size);
    cursor: pointer;
}

select:disabled {
    cursor: not-allowed;
}

.arrow {
    position: absolute;
    top: 50%;
    right: calc(var(--text-large-size) / 2);

    transform: translateY(-50%);

    color: var(--accent-color);
    font-size: var(--text-large-size);
    line-height: 1;

    pointer-events: none;
}
