:host {
    display: block;
    width: 100%;
}

.range-slider {
    position: relative;
    width: 100%;
}

.range-slider__value {
    position: absolute;
    right: 0;
    bottom: calc(100% + var(--form-label-gap));
    padding: var(--form-range-value-padding);
    border-radius: var(--form-range-value-border-radius);
    background: var(--form-range-value-background-color);
    color: var(--form-range-value-text-color);
    font-size: var(--form-range-value-text-size);
    font-weight: var(--form-range-value-text-weight);
}

.range-slider__track-wrapper {
    width: 100%;
}

.range-slider__input {
    --progress: 0%;
    --progress-value: 0;
    --thumb-bg: color-mix(
        in srgb,
        var(--form-range-color) calc((100 - var(--progress-value)) * 1%),
        var(--form-range-thumb-color)
    );

    width: 100%;
    height: var(--form-range-height);

    appearance: none;
    border-radius: var(--form-range-radius);
    outline: none;

    background: linear-gradient(
        90deg,
        var(--form-range-color) var(--progress),
        var(--form-range-background) var(--progress)
    );

    cursor: pointer;
}

.range-slider__input::-webkit-slider-thumb {
    appearance: none;
    width: var(--form-range-thumb-size);
    height: var(--form-range-thumb-size);
    border: var(--form-range-thumb-border);
    border-radius: 50%;
    background: var(--thumb-bg);
    cursor: pointer;
}

.range-slider__input::-moz-range-thumb {
    width: var(--form-range-thumb-size);
    height: var(--form-range-thumb-size);
    border: var(--form-range-thumb-border);
    border-radius: 50%;
    background: var(--thumb-bg);
    cursor: pointer;
}

.range-slider__input:disabled {
    cursor: not-allowed;
    opacity: var(--form-disabled-opacity);
}

.range-slider__input:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
    opacity: var(--form-disabled-opacity);
}

.range-slider__input:disabled::-moz-range-thumb {
    cursor: not-allowed;
    opacity: var(--form-disabled-opacity);
}

.range-slider:hover .range-slider__input,
.range-slider:focus-within .range-slider__input,
.range-slider:hover .range-slider__value,
.range-slider:focus-within .range-slider__value {
    box-shadow: var(--form-range-focus-ring);
}

.range-slider:hover .range-slider__input::-webkit-slider-thumb,
.range-slider:focus-within .range-slider__input::-webkit-slider-thumb {
    box-shadow: var(--form-range-focus-ring);
}

.range-slider:hover .range-slider__input::-moz-range-thumb,
.range-slider:focus-within .range-slider__input::-moz-range-thumb {
    box-shadow: var(--form-range-focus-ring);
}
