input {
    width: 100%;
    height: var(--form-control-height);
    box-sizing: border-box;
    padding-block: var(--form-control-padding-block);
    padding-inline: var(--form-control-padding-inline);
    border: var(--form-control-border);
    border-radius: var(--form-control-border-radius);
    outline: 0;
    background: var(--form-control-background-color);
    color: var(--form-control-text-color);
    font-size: var(--form-control-text-size);
    transition: box-shadow 0.2s ease;
}

input:focus {
    box-shadow: var(--form-control-focus-ring);
}

input:disabled {
    cursor: not-allowed;
    opacity: var(--form-disabled-opacity);
}
