:host {
    display: block;
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);
    flex: 0 0 var(--avatar-size);
}

.app-avatar {
    inline-size: 100%;
    block-size: 100%;
    border-radius: 999px;
    background-color: var(--accent-default);
    object-fit: cover;
}

:host(.app-avatar--large) {
    --avatar-size: var(--avatar-size-large);
}

:host(.app-avatar--medium) {
    --avatar-size: var(--avatar-size-medium);
}

:host(.app-avatar--small) {
    --avatar-size: var(--avatar-size-small);
}
