:host {
  display: flex;
  flex: 1;
}

.main-menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-radius: var(--panel-medium-border-radius);
  border: var(--panel-border);
  background: var(--surface-default);
  box-shadow: var(--panel-shadow);
}

.main-menu__identity,
.main-menu__actions {
  padding-block: var(--panel-medium-padding-block);
  padding-inline: 0;
  display: flex;
}

.main-menu__identity {
  min-width: 0;
  border-right: var(--panel-border);
}

.main-menu__actions {
  flex-shrink: 0;
}

.main-menu__user-name {
  padding-inline: var(--panel-medium-padding-inline);
  display: flex;
  align-items: center;

  --button-text-color: var(--accent-default);
  --button-text-hover-color: var(--accent-hover);

  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
}

.main-menu__user-name span {
  font-size: var(--type-body-md-font-size);
  line-height: var(--type-body-md-line-height);
}

.main-menu__icon-button {
  display: flex;
  align-items: center;
  padding-block: 0;
  padding-inline: var(--panel-small-padding-inline);
  border-left: var(--panel-border);
}

.main-menu__icon-button--logout {
  --button-text-color: var(--accent-strong);
  --button-text-hover-color: var(--accent-hover);
}
