<article class="worksite-header-detail header-detail">
    <div class="worksite-header-detail__identity header-detail__identity">
        <div class="worksite-header-detail__icon header-detail__icon" aria-hidden="true">
            <fa-icon [icon]="faBuilding"></fa-icon>
        </div>

        <div>
            <h2 class="worksite-header-detail__title header-detail__title">
                {{ worksite().name }}
            </h2>
            <p class="worksite-header-detail__info header-detail__info">
                <span>{{ worksite().code }}</span>
                <app-chip [label]="'worksite.scopes.' + worksite().scope | translate"></app-chip>
            </p>
        </div>
    </div>

    <app-chip
        class="worksite-header-detail__status header-detail__status"
        [type]="worksite().active ? 'green' : 'red'"
        [icon]="faCircle"
        size="big"
        [label]="
            (worksite().active ? 'worksite.status.active' : 'worksite.status.inactive') | translate
        "
    ></app-chip>
</article>
