.employee-card__header {
    display: flex;
    align-items: center;
    gap: var(--section-gap);
}

.employee-card__avatar {
    width: var(--avatar-size);
    vertical-align: middle;
    background-color: var(--accent-color);
    border-radius: 999px;
}

.employee-card__row {
    display: flex;
    border-top: var(--panel-border);
    padding-block: var(--section-padding-block);
    justify-content: space-between;
}

.employee-card__row:last-child {
    padding-bottom: 0;
}

.employee-card__data dt {
    color: var(--accent-color);
    font-weight: var(--type-label-md-weight);
    font-size: var(--type-label-md-size);
    text-transform: var(--type-label-md-transform);
    letter-spacing: var(--type-label-md-letter-spacing);
    text-shadow: 0 1px 0 var(--color-black);
}

.employee-card__data dd {
    color: var(--text-primary-color);
    font-weight: var(--type-body-weight);
    font-size: var(--type-body-size);
    text-transform: var(--type-body-transform);
    letter-spacing: var(--type-body-letter-spacing);
}
