.employee-card__header {
    display: flex;
    align-items: center;
    gap: var(--section-gap);
}

.employee-card__avatar {
    width: var(--avatar-size);
    vertical-align: middle;
    background-color: var(--accent-color);
    border-radius: 999px;
}

.employee-card__row {
    display: flex;
    border-top: var(--panel-border);
    padding-block: var(--section-padding-block);
    justify-content: space-between;
}

.employee-card__row:last-child {
    padding-bottom: 0;
}

.employee-card__data dt {
    color: var(--data-label-emphasis-color);
    font-weight: var(--data-label-emphasis-font-weight);
    text-shadow: var(--data-label-emphasis-text-shadow);
}

.employee-card__data dd {
    color: var(--data-description-emphasis-color);
    font-weight: var(--data-description-emphasis-font-weight);
}
