<app-page-template appNameKey="navigation.janus" pageNameKey="navigation.worksites">
    <div pageContent class="app-page-content app-list-page">
        <div class="app-list-page__toolbar">
            <app-search-bar (queryChange)="onQueryChange($event)" />
            @if (isAdmin | async) {
                <app-button variant="main" (clicked)="createWorksite()">
                    {{ 'actions.new' | translate }}
                </app-button>
            }
        </div>
        <app-worksite-table class="app-list-page__results" [query]="searchQuery()" />
    </div>
</app-page-template>
