<form class="search-bar" role="search" (submit)="$event.preventDefault(); submitCurrentQuery()">
    <label class="sr-only" [for]="inputId">{{ 'searchBar.inputLabel' | translate }}</label>
    <input
        [id]="inputId"
        type="search"
        [formControl]="queryControl"
        [attr.placeholder]="'searchBar.placeholder' | translate"
        [attr.aria-label]="'searchBar.inputLabel' | translate"
        [attr.aria-describedby]="helpTextId"
    />

    <span class="sr-only" [id]="helpTextId">{{ 'searchBar.helpText' | translate }}</span>

    <button
        type="submit"
        class="search-icon"
        [attr.aria-label]="'searchBar.buttonAriaLabel' | translate"
    >
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #231f20;
                        }
                    </style>
                </defs>
                <g id="search">
                    <path
                        class="cls-1"
                        d="M28.7,27.29l-9.76-9.56A9,9,0,1,0,12,21a8.92,8.92,0,0,0,5.49-1.89l9.81,9.6a1,1,0,0,0,1.41,0A1,1,0,0,0,28.7,27.29ZM5,12a7,7,0,1,1,7,7A7,7,0,0,1,5,12Z"
                    ></path>
                </g>
            </g>
        </svg>
    </button>
</form>
