<form class="search-bar" role="search" (submit)="$event.preventDefault(); submitCurrentQuery()">
    <label class="search-bar__label" [for]="inputId">{{ 'searchBar.inputLabel' | translate }}</label>
    <app-input-group [ariaLabel]="'searchBar.inputLabel' | translate">
        <app-input
            [inputId]="inputId"
            type="search"
            [formControl]="queryControl"
            [placeholder]="placeholderKey() | translate"
            [ariaDescribedBy]="helpTextId"
        />

        <app-button
            type="submit"
            [icon]="true"
            class="search-bar__icon"
            [ariaLabel]="'searchBar.buttonAriaLabel' | translate"
        >
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </app-button>
    </app-input-group>

    <span class="search-bar__help" [id]="helpTextId">{{ helpTextKey() | translate }}</span>
</form>
