<main class="app-shell">
    <div class="page-template">
        <header class="page-template__header">
            <a class="page-template__brand" routerLink="/">
                {{ appNameKey() | translate }}
            </a>

            <h1 class="page-template__title">
                {{ pageNameKey() | translate }}
            </h1>
        </header>

        <div class="page-template__body">
            <ng-content select="[pageContent]"></ng-content>
        </div>

        <footer class="page-template__footer">
            <app-main-menu></app-main-menu>
        </footer>
    </div>
</main>
