.app-header-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--panel-gap);
    padding-inline: var(--panel-padding-inline);
    padding-block: var(--panel-padding-block);
    border: var(--panel-border);
    border-radius: var(--panel-border-radius);
    background: var(--panel-background-color);
}

.app-header-detail__identity {
    display: flex;
    align-items: center;
    gap: var(--panel-gap);
}

.app-header-detail__icon {
    display: grid;
    width: 6rem;
    flex: 0 0 6rem;
    aspect-ratio: 1;
    place-items: center;
    border: var(--stroke-400) solid var(--color-white-alpha-12);
    border-radius: var(--radius-400);
    color: var(--accent-color);
    font-size: var(--font-size-700);
}

.app-header-detail__title {
    font-size: var(--font-size-500);
    padding-bottom: var(--section-gap);
}

.app-header-detail__info {
    display: flex;
    align-items: center;
    gap: var(--size-300);
    margin: 0;
    font-size: var(--font-size-350);
}

@media (max-width: 900px) {
    .app-header-detail {
        align-items: flex-start;
        padding-inline-end: 1.85rem;
    }
}

@media (max-width: 640px) {
    .app-header-detail,
    .app-header-detail__identity {
        flex-direction: column;
    }

    .app-header-detail__icon {
        width: 4.8rem;
        flex-basis: 4.8rem;
        font-size: var(--font-size-500);
    }
}
