.app-section {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
}

.app-section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-section__title {
    font-size: var(--section-title-emphasis-font-size);
    margin: 0;
    text-transform: var(--section-title-emphasis-text-transform);
    color: var(--section-title-emphasis-color);
    font-weight: var(--section-title-emphasis-font-weight);
}

.app-section__message {
    padding-block: var(--section-message-padding-block);
    padding-inline: var(--section-message-padding-inline);
    border-radius: var(--section-message-border-radius);
    background-color: var(--section-message-background-color);
    color: var(--section-message-text-color);
}

.app-section__message--error {
    background: var(--color-error-soft-alpha-12);
    color: var(--color-error-soft);
}

@media (max-width: 640px) {
    .app-section__header {
        flex-direction: column;
        align-items: flex-start;
    }
}
