.app-table {
    width: 100%;
    background-color: var(--list-background-color);
    border-radius: var(--list-border-radius);
    border: var(--list-border);
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: var(--list-shadow);
    overflow: hidden;
}

.app-table thead {
    background-color: var(--list-background-color);
}

.app-table tbody tr td {
    overflow: hidden;
}

.app-table tbody tr:first-child td {
    border-top: var(--list-border);
}

.app-table tbody tr:first-child td:first-child {
    border-top-left-radius: var(--list-border-radius);
}

.app-table tbody tr:first-child td:last-child {
    border-collapse: separate;
    border-top-right-radius: var(--list-border-radius);
}

.app-table th {
    padding-inline: var(--panel-padding-inline);
    padding-block: var(--panel-padding-block);
    text-align: left;
    font-size: var(--type-label-sm-size);
    font-weight: var(--type-label-sm-weight);
    text-transform: var(--type-label-sm-transform);
    letter-spacing: var(--type-label-sm-letter-spacing);
    color: var(--text-primary-color);
}

.app-table td {
    padding-inline: var(--list-item-padding-inline);
    padding-block: var(--list-item-padding-block);
    text-align: left;
}

.app-table tbody tr:nth-child(odd) td {
    background-color: var(--list-item-odd-background-color);
}

.app-table tbody tr:nth-child(even) td {
    background-color: var(--list-item-even-background-color);
}

.app-table tbody tr:hover td {
    background-color: var(--list-item-hover-background-color);
    overflow: hidden;
}

@media (max-width: 640px) {
    .app-table th,
    .app-table td {
        padding: 0.75rem var(--size-400);
    }
}
