<section class="app-section worksite-table" aria-labelledby="worksite-table-title">
  <header class="app-section__header worksite-table__header">
    <h2 id="worksite-table-title" class="app-section__title worksite-table__title">
      {{ 'worksite.worksites' | translate }}
    </h2>
    @if (totalItems() > 0) {
      <app-paginator
        [totalItems]="totalItems()"
        [pageSize]="pageSize"
        [currentPage]="currentPage()"
        [betweenLabel]="'paginator.of' | translate"
        [previousLabel]="'paginator.previousPage' | translate"
        [nextLabel]="'paginator.nextPage' | translate"
        [ariaLabel]="'paginator.ariaLabel' | translate"
        (pageRequested)="onPageChange($event)"
      />
    }
  </header>

  <app-async-state
    [loading]="worksitesResource.isLoading()"
    [error]="worksitesResource.error() !== undefined"
    [empty]="isEmpty()"
  >
    <ng-template appAsyncLoading>{{ 'worksite.loading' | translate }}</ng-template>
    <ng-template appAsyncError>{{ 'worksite.loadError' | translate }}</ng-template>
    <ng-template appAsyncEmpty>{{ 'worksite.empty' | translate }}</ng-template>
  </app-async-state>

  @if (!worksitesResource.isLoading() && worksites().length > 0) {
    <div
      class="app-table-wrapper"
      role="region"
      tabindex="0"
      aria-labelledby="worksite-table-title"
    >
      <table class="app-table worksite-table__table">
        <thead>
          <tr>
            <th scope="col">{{ 'worksite.code' | translate }}</th>
            <th scope="col">{{ 'worksite.name' | translate }}</th>
            <th scope="col">{{ 'worksite.scope' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (worksite of pagedWorksites(); track worksite.code) {
            <tr
              class="worksite-table__row"
              role="button"
              tabindex="0"
              [attr.aria-label]="'worksite.openDetail' | translate: { name: worksite.name }"
              (click)="openWorksite(worksite)"
              (keydown.enter)="openWorksite(worksite)"
              (keydown.space)="$event.preventDefault(); openWorksite(worksite)"
            >
              <td>{{ worksite.code }}</td>
              <td>{{ worksite.name }}</td>
              <td>
                <app-chip
                  [label]="'worksite.scopes.' + worksite.scope | translate"
                  [type]="worksite.scope === 'ASSIGNED' ? 'primary' : 'default'"
                ></app-chip>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</section>
