.card {
	border-radius: 20px;
	overflow: hidden;
}

.card-header {
	padding: 1rem 1.5rem 1rem 1.5rem;
	background-color: #fece0b;
	color: #131313;
	text-align: center;
}

.card-title {
	margin: 0 0 0.5rem;
	font-size: 2.2rem;
}

.card-title:empty {
	display: none;
}

.card-body {
	padding: 2rem;
	font-size: 0.95rem;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background: #131313;
}