:root {
  color-scheme: light dark;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-color: #000000;
}

.clock-in-card .clock-container.card-hour-container .card-hour {
	font-size: 3rem;
}

.clock-in-card .clock-container.card-hour-container {
	margin-bottom: 1rem;
}
