:root {
    --chip-background-color: var(--color-primary-500);
    --chip-text-color: var(--color-gray-800);
    --chip-padding-block: var(--size-150);
    --chip-padding-inline: var(--size-250);
    --chip-border-radius: var(--size-150);
    --chip-font-size: var(--literal-chip-label-font-size);
    --chip-font-weight: var(--literal-chip-label-font-weight);
    --chip-text-transform: var(--literal-chip-label-text-transform);
    --chip-icon-size: var(--chip-font-size);
    --chip-gap: var(--size-150);

    --chip-small-padding-block: var(--size-100);
    --chip-small-padding-inline: var(--size-200);
    --chip-small-font-size: var(--size-250);
    --chip-small-icon-size: var(--chip-small-font-size);
    --chip-small-gap: var(--size-100);

    --chip-big-padding-block: var(--size-200);
    --chip-big-padding-inline: var(--size-400);
    --chip-big-font-size: var(--literal-body-font-size);
    --chip-big-icon-size: var(--chip-big-font-size);
    --chip-big-gap: var(--size-200);

    --chip-primary-background-color: var(--color-secondary-500);
    --chip-primary-text-color: var(--color-white);

    --chip-secondary-background-color: var(--color-tertiary-700);
    --chip-secondary-text-color: var(--color-white);

    --chip-tertiary-background-color: var(--color-primary-900);
    --chip-tertiary-text-color: var(--color-white);

    --chip-success-background-color: var(--color-success-muted-alpha-16);
    --chip-success-text-color: var(--color-success-muted-text);

    --chip-error-background-color: var(--color-error-muted-alpha-16);
    --chip-error-text-color: var(--color-error-muted-text);
}
