<div class="paginator" role="group" [attr.aria-label]="ariaLabel()">
    <button
        type="button"
        class="paginator__button"
        [disabled]="!hasPreviousPage()"
        [attr.aria-label]="previousLabel()"
        (click)="goToPreviousPage()"
    >
        <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>

    <span class="paginator__text">
        {{ startItem() }}-{{ endItem() }} {{ betweenLabel() }} {{ totalItems() }}
    </span>

    <button
        type="button"
        class="paginator__button"
        [disabled]="!hasNextPage()"
        [attr.aria-label]="nextLabel()"
        (click)="goToNextPage()"
    >
        <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
</div>
