:host {
    display: inline-block;
}

.app-chip {
    --bg: #f9d600;
    --fg: #131313;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.4rem 0.75rem;
    border-radius: 0.35rem;

    background-color: var(--bg);
    color: var(--fg);

    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}

.chip--primary {
    --bg: #7f06a5;
    --fg: #ffffff;
}

.chip--secondary {
    --bg: #1431a9;
    --fg: #ffffff;
}

.chip--tertiary {
    --bg: #615300;
    --fg: #ffffff;
}
