:root {
    --type-brand-font-size: var(--font-size-400);
    --type-brand-font-weight: var(--font-weight-semibold);
    --type-brand-line-height: var(--line-height-tight);

    /* Display */
    --type-display-lg-font-size: var(--font-size-900);
    --type-display-lg-font-weight: var(--font-weight-semibold);
    --type-display-lg-line-height: var(--line-height-tight);

    /* Heading */
    --type-heading-lg-font-size: var(--font-size-500);
    --type-heading-lg-font-weight: var(--font-weight-semibold);
    --type-heading-lg-line-height: var(--line-height-tight);

    --type-heading-md-font-size: var(--font-size-350);
    --type-heading-md-font-weight: var(--font-weight-bold);
    --type-heading-md-line-height: var(--line-height-tight);

    --type-heading-sm-font-size: var(--font-size-300);
    --type-heading-sm-font-weight: var(--font-weight-semibold);
    --type-heading-sm-line-height: var(--line-height-tight);

    /* Body */
    --type-body-md-font-size: var(--font-size-300);
    --type-body-md-font-weight: var(--font-weight-regular);
    --type-body-md-line-height: var(--line-height-relaxed);

    --type-body-sm-font-size: var(--font-size-200);
    --type-body-sm-font-weight: var(--font-weight-regular);
    --type-body-sm-line-height: var(--line-height-relaxed);

    /* Label */
    --type-label-lg-font-size: var(--font-size-350);
    --type-label-lg-font-weight: var(--font-weight-regular);
    --type-label-lg-line-height: var(--line-height-tight);

    --type-label-md-font-size: var(--font-size-300);
    --type-label-md-font-weight: var(--font-weight-semibold);
    --type-label-md-line-height: var(--line-height-tight);

    --type-label-sm-font-size: var(--font-size-200);
    --type-label-sm-font-weight: var(--font-weight-bold);
    --type-label-sm-line-height: var(--line-height-tight);

    /* Caption */
    --type-caption-md-font-size: var(--font-size-300);
    --type-caption-md-font-weight: var(--font-weight-semibold);
    --type-caption-md-line-height: var(--line-height-normal);

    --type-caption-sm-font-size: var(--font-size-200);
    --type-caption-sm-font-weight: var(--font-weight-regular);
    --type-caption-sm-line-height: var(--line-height-normal);

    --type-caps-letter-spacing: var(--letter-spacing-200);
    --type-caps-wide-letter-spacing: var(--letter-spacing-400);
    --type-caps-text-transform: uppercase;
}
