:root {
    --list-border: var(--panel-border);
    --list-border-radius: var(--panel-border-radius);
    --list-shadow: var(--panel-shadow);
    --list-padding-block: var(--size-100);
    --list-padding-inline: 0;

    --list-item-padding-block: var(--panel-medium-padding-block);
    --list-item-padding-inline: var(--panel-padding-inline);
}
