:root {
    --autocomplete-clear-button-padding-inline: 0.66rem;
    --autocomplete-clear-button-font-size: 1.66rem;
    --autocomplete-clear-button-focus-outline: var(--focus-ring-width) var(--border-style) var(--form-control-background-color);
    --autocomplete-clear-button-focus-outline-offset: calc(var(--focus-ring-width) * -1);

    --autocomplete-results-max-width: min(30rem, calc(100vw - var(--size-600)));
    --autocomplete-results-max-height: 14rem;
    --autocomplete-results-padding-block: var(--list-padding-block);
    --autocomplete-results-padding-inline: var(--list-padding-inline);
    --autocomplete-results-shadow: var(--list-shadow);
    --autocomplete-result-padding-block: var(--list-item-padding-block);
    --autocomplete-result-padding-inline: var(--list-item-padding-inline);
}
