:root {
    --list-background-color: var(--panel-background-color);
    --list-border: var(--panel-border);
    --list-border-radius: var(--panel-border-radius);
    --list-shadow: var(--panel-shadow);
    --list-padding-block: var(--size-100);
    --list-padding-inline: 0;
    --list-item-padding-block: var(--panel-medium-padding-block);
    --list-item-padding-inline: var(--panel-padding-inline);
    --list-item-hover-background-color: var(--color-primary-900);
    --list-item-odd-background-color: var(--color-gray-850);
    --list-item-even-background-color: var(--list-background-color);

    --list-background-color-odd: var(--list-item-odd-background-color);
    --list-element-hover-background-color: var(--list-item-hover-background-color);
}
