:root {
    --table-background-color: var(--list-background-color);
    --table-border: var(--list-border);
    --table-border-radius: var(--list-border-radius);
    --table-shadow: var(--list-shadow);
    --table-header-cell-padding-inline: var(--panel-padding-inline);
    --table-header-cell-padding-block: var(--panel-padding-block);
    --table-header-cell-letter-spacing: 0.12em;
    --table-header-cell-font-size: var(--font-size-small);
    --table-body-cell-padding-inline: var(--list-item-padding-inline);
    --table-body-cell-padding-block: var(--list-item-padding-block);
    --table-row-odd-background-color: var(--list-item-odd-background-color);
    --table-row-even-background-color: var(--list-item-even-background-color);
    --table-row-hover-background-color: var(--list-item-hover-background-color);
    --table-compact-cell-padding-block: 0.75rem;
    --table-compact-cell-padding-inline: var(--size-400);
}
