@if (routerLink(); as destination) {
  <a [class]="buttonClass" [routerLink]="destination" [attr.aria-label]="ariaLabel()">
    <ng-container [ngTemplateOutlet]="label"></ng-container>
  </a>
} @else {
  <button
    [class]="buttonClass"
    [type]="type()"
    [attr.aria-label]="ariaLabel()"
    [disabled]="disabled()"
    (click)="clicked.emit($event)"
  >
    <ng-container [ngTemplateOutlet]="label"></ng-container>
  </button>
}

<ng-template #label>
  <span class="app-button__label">
    <ng-content></ng-content>
  </span>
</ng-template>
