<app-page-template appNameKey="navigation.janus" pageNameKey="navigation.schedules">
    <div pageContent class="app-page-content schedules-page__content">
        <div class="schedules-page__toolbar">
            <app-search-bar
                placeholderKey="schedule.search.placeholder"
                helpTextKey="schedule.search.helpText"
                (queryChange)="onQueryChange($event)"
            />
            @if (isAdmin | async) {
                <app-button variant="main" (clicked)="createSchedule()">
                    {{ 'actions.new' | translate }}
                </app-button>
            }
        </div>
        <app-schedule-table [query]="searchQuery()" />
    </div>
</app-page-template>
