<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<display-name>janus</display-name>

	<!-- Controls the refresh period for Facelets files, defining how often 
		they should be checked for updates -->
	<context-param>
		<param-name>jakarta.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>2</param-value>
	</context-param>

	<!-- Specifies the window mode for JSF (JavaServer Faces) client-side windows -->
	<context-param>
		<param-name>jakarta.faces.CLIENT_WINDOW_MODE</param-name>
		<param-value>none</param-value>
	</context-param>

	<!-- Sets the default suffix for JSF Facelets files -->
	<context-param>
		<param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<!-- Treats empty string form inputs as null values -->
	<context-param>
		<param-name>jakarta.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Defines the project stage, useful for setting development or production 
		modes -->
	<context-param>
		<param-name>jakarta.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Specifies the state saving method for JSF; in this case, state is saved 
		on the server -->
	<context-param>
		<param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<!-- Specifies whether the default timezone should be the system timezone 
		in date and time conversion -->
	<context-param>
		<param-name>jakarta.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Defines the localization resource bundle for JSTL (JavaServer Pages 
		Standard Tag Library) -->
	<context-param>
		<param-name>jakarta.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>

	<!-- Enables WebSocket endpoint for JSF -->
	<context-param>
		<param-name>jakarta.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Definition for the JSF Faces Servlet, which processes requests to JSF 
		pages -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>

		<!-- Configuration for handling file uploads, including size limits -->
		<multipart-config>
			<location>/tmp</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>

	<!-- Maps JSF requests for .xhtml files to the Faces Servlet -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Specifies the welcome file to be used when the root URL of the web 
		application is accessed -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
