:host {
    display: block;
    width: 100%;
    min-width: 0;
}

.autocomplete,
.autocomplete__input-wrapper {
    width: 100%;
}

.autocomplete--disabled {
    cursor: not-allowed;
    opacity: var(--form-disabled-opacity);
}

.autocomplete__results-panel {
    max-width: var(--autocomplete-results-max-width);
}

.autocomplete__results {
    width: max-content;
    min-width: 100%;
    max-height: var(--autocomplete-results-max-height);
    overflow-y: auto;
    box-sizing: border-box;

    margin: 0;
    padding: var(--list-padding-block) var(--list-padding-inline);

    list-style: none;

    border: var(--list-border);
    border-radius: var(--list-border-radius);

    background: var(--list-background-color);
    color: var(--list-text-color);

    box-shadow: var(--list-shadow);
}

.autocomplete__option {
    padding: var(--list-item-padding-block) var(--list-item-padding-inline);

    white-space: nowrap;
    text-align: left;

    cursor: pointer;
}

.autocomplete__option:hover,
.autocomplete__option--active {
    background: var(--list-item-hover-background-color);
}

.autocomplete__message {
    cursor: default;
    white-space: normal;
}

.autocomplete__message:hover {
    background: transparent;
}

.autocomplete__status {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    clip: rect(0 0 0 0);
    clip-path: inset(50%);

    white-space: nowrap;
    border: 0;
}
