:host {
    display: block;
    width: 100%;
    min-width: 0;
}

.autocomplete,
.input-wrapper {
    width: 100%;
}

.autocomplete.disabled {
    cursor: not-allowed;
    opacity: var(--form-disabled-opacity);
}

.results-panel {
    max-width: var(--autocomplete-results-max-width);
}

.results {
    width: max-content;
    min-width: 100%;
    max-height: var(--autocomplete-results-max-height);
    overflow-y: auto;
    box-sizing: border-box;

    margin: 0;
    padding: var(--autocomplete-results-padding-block) var(--autocomplete-results-padding-inline);

    list-style: none;

    border: var(--form-control-border);
    border-radius: var(--form-control-border-radius);

    background: var(--list-background-color);
    color: var(--form-control-text-color);

    box-shadow: var(--autocomplete-results-shadow);
}

.results li {
    padding: var(--autocomplete-result-padding-block) var(--autocomplete-result-padding-inline);

    white-space: nowrap;
    text-align: left;

    cursor: pointer;
}

.results li:hover,
.results li.active {
    background: var(--list-element-hover-background-color);
}

.results-message {
    cursor: default;
    white-space: normal;
}

.results-message:hover {
    background: transparent;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    clip: rect(0 0 0 0);
    clip-path: inset(50%);

    white-space: nowrap;
    border: 0;
}
