<div class="autocomplete">
    <div class="input-wrapper" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <input
            type="text"
            [placeholder]="placeholder"
            [formControl]="textControl"
            [readonly]="hasSelection"
            [attr.aria-readonly]="hasSelection"
            (blur)="handleBlur()"
        />

        @if (hasSelection) {
            <button
                type="button"
                class="clear-button"
                aria-label="Clear Selection"
                [disabled]="disabled"
                (click)="clearSelection()"
            >
                ✕
            </button>
        }
    </div>

    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="!hasSelection && results.length > 0"
        [cdkConnectedOverlayPositions]="overlayPositions"
        [cdkConnectedOverlayHasBackdrop]="false"
        [cdkConnectedOverlayPush]="true"
    >
        <ul class="results" role="listbox">
            @for (result of results; track $index) {
                <li>
                    <button type="button" (mousedown)="onSelect(result)">
                        {{ displayWith(result) }}
                    </button>
                </li>
            }
        </ul>
    </ng-template>
</div>
